body{
    margin: 20px;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
    width: 0;
}

#erro, #ciclo, #alfa{
   color: black;
   font-weight: 400;
   font-size: medium;
}

.labelEntradas{
    margin: 5px 0px 5px 0px;
}

.resposta{
    color: black;
    font-size: x;
}

.string{
    color: red;
    font-size: x;
    font-weight: bold;
}